table, th, td {
    border: 1px solid black;
}

table {
    width: 100%;
    /* border-collapse: collapse; */
}

tr:hover {background-color: yellow;}

a:link {
    color: red;
}

a:visited {
    color: #0f0;
}

a:hover {
    color: #f0f;
}

a:active {
    color: #00f;
}

p {
    display: none;
}

h3:hover p {
    display: block;
}

p {
    background-image: linear-gradient(red,yellow);
    background-image: linear-gradient(to right, red, yellow);
}